{% load random_tag %}

<div class='row' style="margin-top: 10px;">
  <div class='col-md-6 hidden-sm'>
    <div class='{{ tag_class_name }}'></div>
  </div>

  <div class='col-md-6'>
    <h2 class='category-title'>Popular</h2>
    {% for page in pages  %}
      <div class='page-preview'>
        <h2>
          <a href='/{{page.full_title}}'>{{page.full_title}}</a>
        </h2>

        <div class='content'>
          {{ page.preview }}
        </div>
      </div>
      <hr />
    {% endfor %}
  </div>
</div>

<script>
  {% random_number as rnd %}
  {% with name='render_'|add:rnd %}
    function {{name}}() {
      $('.{{tag_class_name}}').empty();
      var data = {{tagcloud_data|safe}};
      var width = window.innerWidth / 2;
      var height = window.innerHeight - 120;
      var word_numbers = $.map(data, function(x) {
        return x;
      });
      var word_number = word_numbers.reduce(function(x, y) {
        return x + y;
      });
      var words = $.map(data, function(_, x) {
        return x;
      });
      var step = Math.max.apply(null, word_numbers) / 6;
      var fill = d3.scale.category20();
      d3.layout.cloud().size([width, height])
      .words(words.map(function(d) {
        var factor = 10;
        var count = data[d];
        var css = count / step;
        factor += css * 30;
        if(factor > 80) {
          factor = 80;
        }
        return {text: d, size: factor};
      }))
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();
      function draw(words) {
        d3.selectAll(".{{ tag_class_name }}").append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + width/2 + "," + height/2 + ")")
        .selectAll("text")
        .data(words)
        .enter().append("text")
        .attr("text-anchor", "middle")
        .style("font-size", function(d) {
          return d.size + "px";
        })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .on("click", function(d) {
          window.location.href = '/Technology:' + d.text;
        })
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
      }
    }
    $(document).ready({{name}});
    $(window).resize({{name}});
  {% endwith %}
</script>
